
@{
    ViewBag.Title = "CreatePost";
    Layout = "~/Areas/ControlPanel/Views/Shared/_LayoutPageMain.cshtml";
}

<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">ايجاد پست جديد</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">مديريت وبلاگ</a></li>
                <li class="breadcrumb-item">پست هاي وبلاگ</li>
                <li class="breadcrumb-item active">ايجاد پست جديد</li>
            </ol>
        </div>
        <div class="">
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="card">
                <div class="card-body">
     
                  
                        <input class="form-control" placeholder="به:">
                  
              
                        <input class="form-control" placeholder="موضوع:">
                   
         
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="summernote">
                            <h3> </h3>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <button id="edit" class="btn btn-info btn-rounded" onclick="edit()" type="button">ویرایش</button>
                        <button id="save" class="btn btn-success btn-rounded" onclick="save()" type="button">ذخیره</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="card">
                <div class="card-body">
             
                    <h4><i class="ti-link"></i> ضمیمه</h4>
                    <form action="#" class="dropzone dz-clickable">

                        <div class="dz-default dz-message"><span>فایل های خود را برای آپلود به اینجا بکشید و رها کنید</span></div>
                    </form>
                    <button type="submit" class="btn btn-success m-t-20"><i class="fa fa-envelope-o"></i> فرستادن</button>
                    <button class="btn btn-inverse m-t-20"><i class="fa fa-times"></i>نادیده گرفتن</button>
                </div>
            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->

</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->







@section scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {

            $('.summernote').summernote({
                height: 350, // set editor height
                minHeight: null, // set minimum height of editor
                maxHeight: null, // set maximum height of editor
                focus: false // set focus to editable area after initializing summernote
            });
            $('.inline-editor').summernote({
                airMode: true
            });
        });
        window.edit = function () {
            $(".click2edit").summernote()
        },
            window.save = function () {
                $(".click2edit").summernote('destroy');
            }</script>
}