
@{
    ViewBag.Title = "Contact_US";
}


<section class="section-padding" id="about">
    <div class="container">
        <div class="row">

            <div class="section-header">
                <h2 class="section-title">ارتباط با مديريت وب سايت</h2>
                <p>
                    جهت ارتباط با مدیریت سایت و به اشتراک گذاری نقطه نظرات، انتقادات و پیشنهاد و گزارش مشکلات احتمالی می‌توانید از فرم زیر استفاده نمایید.
                </p>
            </div>

        </div>
        <br />
        <div class="row" dir="rtl">
            <div class="col-md-1 col-sm-1">
            </div>
            <div class="col-md-4">
                <div class="about-single-item">
                    <span>ايميل</span> <input type="text" class="form-control" id="EmailID" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="about-single-item">
                    <span>تلفن تماس</span> <input type="text" class="form-control" id="PhoneID" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="about-single-item">
                    <span>نام و نام خانوادگی</span><input type="text" class="form-control" id="FullNameID" />
                </div>
            </div>
            <div class="col-md-1 col-sm-1">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1 col-sm-1">
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="about-single-item"> </div>
                <span>پيام</span><textarea rows="10" class="form-control" id="CommentID"></textarea>
            </div>
            <div class="col-md-1 col-sm-1">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-9 col-sm-9">

            </div>
            <div class="col-md-2 col-sm-2">
                <p><img src="/home/ShowCaptchaImage" /></p>
                <input type="text" class="form-control" id="CaptchaID" />
            </div>
            <div class="col-md-1 col-sm-1">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1 col-sm-1">
            </div>
            <div class="col-md-2">
                <input type="button" id="SubmitButton" class="form-control" value="ثبت پيام" />
            </div>
            <div class="col-md-9"></div>
        </div>
    </div>
</section>


@section scripts {
    <script type="text/javascript">

        $("#SubmitButton").click(function () {
            SubmitData();
        });
        function SubmitData() {
         
            toastr.options.positionClass = "toast-bottom-left";
            var FlagOperation = true;
            var URL = '@Url.Action("Contact_US", "Home")';
            if ($("#FullNameID").val() == null || $("#FullNameID").val() == "" || ($("#FullNameID").val()).Length < 3) {
                toastr.error('لطفا نام و نام خانوادگی خود را وارد نمایید', 'خطا!', { timeOut: 5000 })
                FlagOperation = false;
            }
            if ($("#CommentID").val() == null || $("#CommentID").val() == "" || ($("#CommentID").val()).Length < 10) {
                toastr.error('لطفاٌ متن پیام مورد نظر را وارد نمایید', 'خطا!', { timeOut: 5000 })
                FlagOperation = false;
            }
            if (FlagOperation == true) {
                var options = {};
                options.url = URL;
                options.type = "POST";
                options.data = JSON.stringify({
                    Name: $("#FullNameID").val(),
                    Phone: $("#PhoneID").val(),
                    Email: $("#EmailID").val(),
                    Message: $("#CommentID").val()
                });
                options.datatype = "json";
                options.contentType = "application/json";
                options.success = function (x) {
                    if (x === "CaptchaTextMistake") {
                        
                    }
                    else if (x === "OK") {
                        //$('#EditEntityModal').modal('hide');
                        //var dialog = bootbox.dialog({
                        //    message: '<p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i> با تشکر، پیام شما با موفقیت ارسال شد.</p>',
                        //    closeButton: false
                        //});
                        toastr.success('با تشکر، پیام شما با موفقیت ارسال شد.', 'ارسال پیام', { timeOut: 6000 })
                        setTimeout(function () {
                            //dialog.modal('hide');

                            location.reload();
                        }, 3000)
                    }
                };
                $.ajax(options);
            }
        }
    </script>
}