
@{
    ViewBag.Title = "Contact_US";
}

<section class="section-padding" id="about">
    <div class="container">
        <div class="row">

            <div class="section-header">
                <h2 class="section-title">ارتباط با مديريت وب سايت</h2>
                <p>
                    جهت ارتباط با مدیریت سایت و به اشتراک گذاری نقطه نظرات، انتقادات و پیشنهاد و گزارش مشکلات احتمالی می‌توانید از فرم زیر استفاده نمایید.
                </p>
            </div>

        </div>
        <br />
        <div class="row" dir="rtl">
            <div class="col-md-1 col-sm-1">
            </div>
            <div class="col-md-4">
                <div class="about-single-item">
                    <span>ايميل</span> <input type="text" class="form-control" id="EmailID" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="about-single-item">
                    <span>تلفن تماس</span> <input type="text" class="form-control" id="PhoneID" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="about-single-item">
                    <span>نام و نام خانوادگی</span><input type="text" class="form-control" id="FullNameID" />
                </div>
            </div>
            <div class="col-md-1 col-sm-1">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1 col-sm-1">
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="about-single-item"> </div>
                <span>پيام</span><textarea rows="10" class="form-control" id="CommentI1D"></textarea>
            </div>
            <div class="col-md-1 col-sm-1">

            </div>
        </div>   
        <br />
        <div class="row">
            <div class="col-md-1 col-sm-1">
            </div>
            <div class="col-md-10 col-sm-10">
                @*@Html.LabelFor(model => model.Captcha)

        <img alt="Captcha" id="imgcpatcha" src="@Url.Action("CaptchaImage","Captcha")" style="" />*@

                <p><img src="/home/ShowCaptchaImage" /></p>
            </div>
            <div class="col-md-1 col-sm-1">

            </div>
        </div>
    </div>
</section>



@*<ul class="personal-info">
        <li>
            <span>نام و نام خانوادگی</span>
            <input type="text" id="FullNameID" />
        </li>
        <li>
            <span>تلفن تماس</span>
            <input type="text" id="PhoneID" />
        </li>
        <li>
            <span>پست الکترونیک</span>
            <input type="text" id="EmailID" />
        </li>
        <li>
            <span>نظرات و توضیحات</span>
            <textarea id="CommentID" />
        </li>
    </ul>*@