@{
    ViewBag.Title = "Updating";
    Layout = "~/Views/Shared/_LayoutPageUpdating.cshtml";
}
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <img src="~/MediaFiles/Image/Other/logoUpdating.png" />

                    <br /> <br /> 
                    <h4 class="section-title">مديريت وبسايت : محمد بن سعيد</h4>
                </div>
            </div>
        </div>
        <br /> 
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h4>راه های ارتباطی با مديريت وبسايت در فضای مجازی</h4>
                    <br />
                    <a href="https://instagram.com/bensaeed.mohammad">
                        <img src="~/MediaFiles/Image/Other/iconfinder-instagram_32.png" />
                        آدرس اینستاگرام
                    </a>
                    <p>
                        <img src="~/MediaFiles/Image/Other/iconfinder_gmail_32.png" />
                        پست الكترونيك 
                        <br />
                        bensaeed.mohammad@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>