@model IEnumerable<mbensaeed.Models.PostComment>

<div class="CommentsBox">
    <div class="row">
        <div class="col-md-2"><h6 class="pull-left"> تاریخ ارسال : @Model.FirstOrDefault().SendDate</h6></div>
        <div class="col-md-7"></div>
        <div class="col-md-3"><h6>@Model.FirstOrDefault().FullName</h6></div>
    </div>
    <hr />
    @Model.FirstOrDefault().Comment
</div>
               
