<section class="section-padding" id="portfolioSectionID">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-header">
                    <h2 class="section-title">بهترین های من</h2>
                    <p>
                        برنامه های كاربردی و وبسايت های طراحی شده
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Portfolio Navigation -->
                <ul class="portfolio-navigation">
                    <li class="power-btn active" data-filter="*">همه</li>
                    <li class="power-btn" data-filter=".graphic">وب</li>
                    <li class="power-btn" data-filter=".photo">ویندوز</li>
                    @*<li class="power-btn" data-filter=".design">طراحی</li>*@
                </ul>
                <!-- Portfolio List -->
                <div class="row portfolio-list" style="position: relative; height: 1170px;">
                    <!-- Single Portfolio Item Start Here -->
                    <div class="col-md-6 col-sm-6 col-xs-12 graphic" style="position: absolute; right: 0; top: 0;">
                        <div class="single-portfolio-item portfolio-item-bg-1">
                            <div class="portfolio-overlay elegant-table">
                                <div class="elegant-table-cell">
                                    @*<a class="portfolio-view" href="image/portfolio/work-1.jpg">
                                        <i class="fas fa-arrows-alt"></i>
                                    </a>*@

                                    <a class="portfolio-view" href="~/Content/image/portfolio/work-1.jpg">
                                        <i class="fas fa-arrows-alt"></i>
                                    </a>
                                    <h4>
                                        طراحی سايت برای هيئت مذهبی
                                        <span> شامل بخش اطلاع رسانی برنامه های هيئت ، گالری تصاوير ، فايل های صوتی (مداحی،سخنرانی ها) و پخش ويديوهای هيئت به همراه يك كنترل پنل قدرتمند برای مديريت بخش های مختلف سايت </span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Portfolio Item Ends Here -->
                    <!-- Single Portfolio Item Start Here -->
                    <div class="col-md-6 col-sm-6 col-xs-12  graphic" style="position: absolute; right: 0; top: 0;">
                        <div class="single-portfolio-item portfolio-item-bg-2">
                            <div class="portfolio-overlay elegant-table">
                                <div class="elegant-table-cell">
                                    <a class="portfolio-view" href="~/Content/image/portfolio/work-2.jpg">
                                        <i class="fas fa-arrows-alt"></i>
                                    </a>
                                    <h4>
                                        نوبت دهی بيمارستان
                                        <span>
                                            سامانه نوبت دهی اینترنتی ویزیت پزشکان با هدف اختصاص و ثبت نوبت مراجعه بیماران از راه دور (اینترنت) در جهت ارائه خدمات دهی دولت الکترونیک پیاده سازی گردیده است. سامانه جدید نوبت دهی اینترنتی با قابلیت ها و امکانات بیشتر ، سهولت جستجو نوبت ها در گروههای تخصصی پزشکی و به تفکیک بیمارستانها و درمانگاهها و یا بصورت کلی طراحی گردیده و در آینده بتدریج کاملتر خواهد شد.
                                            .
                                        </span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Portfolio Item Ends Here -->
                    <!-- Single Portfolio Item Start Here -->
                    <div class="col-md-6 col-sm-6 col-xs-12 photo design"
                         style="position: absolute; right: 0; top: 0;">
                        <div class="single-portfolio-item portfolio-item-bg-3">
                            <div class="portfolio-overlay elegant-table">
                                <div class="elegant-table-cell">
                                    <a class="portfolio-view" href="~/Content/image/portfolio/work-3.jpg">
                                        <i class="fas fa-arrows-alt"></i>
                                    </a>
                                    <h4>
                                        نرم افزار دبیرخانه و یا اتوماسیون اداری
                                        <span>
                                            مجموعه اموری شامل دفتر اندیکارتور ، بایگانی، ثبت نامه صادره ، وارده ، نامه داخلی ، ثبت پیش نویس ، گزارشات می باشد
                                        </span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Portfolio Item Ends Here -->
                    <!-- Single Portfolio Item Start Here -->
                    <div class="col-md-6 col-sm-6 col-xs-12 photo design" style="position: absolute; right: 0; top: 0;">
                        <div class="single-portfolio-item portfolio-item-bg-4">
                            <div class="portfolio-overlay elegant-table">
                                <div class="elegant-table-cell">
                                    <a class="portfolio-view" href="~/Content/image/portfolio/work-4.jpg">
                                        <i class="fas fa-arrows-alt"></i>
                                    </a>
                                    <h4>
                                        نرم افزار رستوران
                                        <span>
                                            یک نرم افزار چند منظوره برای  مدیریت و حسابداری رستوران ها طراحی و تولید شده است و شامل مديريت اطلاعات پايه، انبارداري ، رزرو ،  خريد و فروش و گزارشات مورد نياز سيستم مي باشد. با این نرم افزار به راحتی قادر خواهید بود رستوران،آشپزخانه، فست فود، کافی شاپ، کافه یا… را کنترل و مدیریت نمائید.
                                        </span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Portfolio Item Ends Here -->
                    <!-- Single Portfolio Item Start Here -->
                    <div class="col-md-6 col-sm-6 col-xs-12 design photo"
                         style="position: absolute; right: 0; top: 0;">
                        <div class="single-portfolio-item portfolio-item-bg-5">
                            <div class="portfolio-overlay elegant-table">
                                <div class="elegant-table-cell">
                                    <a class="portfolio-view" href="~/Content/image/portfolio/work-5.jpg">
                                        <i class="fas fa-arrows-alt"></i>
                                    </a>
                                    <h4>
                                        نرم افزار مدیریت چک صياد
                                        <span>
                                            نرم افزار مدیریت چک صياد به شما کمک می کند کارهای مربوط به چک و حسابهای خود را انجام داده و چک های پرداختی و دریافتی خود را ثبت و چاپ نمایید.
                                            با این نرم افزار می توان چک های پرداختی و چک های دریافتی را به سادگی ثبت و ذخیره نمود.
                                            این نرم افزار شامل بخش مربوط به چاپ چک بوده و توسط آن می توان یک چک صیاد را چاپ کرد. طراحی و پیاده سازی این بخش از نرم افزار کاملا دقیق با قالب چک صیاد بوده و قابلیت چاپ با انواع پرینترها را دارد. با ورود به فرم چاپ چک و پر کردن موارد مورد نیاز همانند تاریخ چک، مبلغ چک، در وجه، شناسه اشخاص و ... و زدن دکمه چاپ می توان چک را چاپ نمود.
                                        </span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Portfolio Item Ends Here -->
                </div>
            </div>
        </div>
    </div>
</section>