<section class="section-padding" id="servicesSectionID">
    <div class="container">
        <div class="row">
            <div class="col-md-7" style="float: right;">
                <div class="section-header">
                    <h2 class="section-title">آنچه انجام می دهم</h2>
                    <p>
                        کاربران محترم، شما از طريق ارتباط با مديريت ، می توانید سفارش‌های برنامه نویسی خود را برای مدیریت سایت ارسال نمایید، در صورتی که سفارش شما از طرف مدیریت سایت پذیرفته شود بوسیله ایمیل یا تماس تلفنی اطلاع رسانی خواهد شد.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1" style="float: right;">
                <div class="work-box">
                    <div class="work-box-single-item">
                        <div class="work-icon"><i class="fas fa-laptop"></i></div>
                        <h5>طراحی وب</h5>
                        <ul>
                            <li>طراحی سایت سفارشی</li>
                            <li>طراحی سایت شخصی</li>
                            <li>طراحی سایت حسابداری</li>
                            <li>طراحی سایت فروشگاهی</li>
                            <li>طراحی سایت آموزشی</li>
                            <li>طراحی سایت سازمانی</li>
                            <li>طراحی داشبورد مديريتی</li>
                            <li>طراحی سایت بیمارستان،پزشکی</li>
                        </ul>
                        <p>
                        </p>
                    </div>
                    <div class="work-box-single-item">
                        <div class="work-icon"><i class="fas fa-laptop"></i></div>
                        <h5>طراحی دسکتاپی (ویندوزی)</h5>
                        <ul>
                            <li>طراحی برنامه های كاربردی</li>
                            <li>طراحی برنامه های حسابداری</li>
                            <li>طراحی برنامه های توليد</li>
                            <li>طراحی برنامه های مهندسی</li>
                            <li>طراحی برنامه های سازمانی</li>
                            <li>طراحی بازي های ويندوزی</li>
                        </ul>
                        <p>
                        </p>
                    </div>

                    @*<div class="work-box-single-item">
                            <div class="work-icon"><i class="fas fa-laptop"></i></div>
                            <h5>رابط کاربری (UI)</h5>
                            <p>
                                رابط کاربری یا UI که مخفف User Interface می باشد، در واقع عامل تعامل سیستم مورد نظر با کاربر است. عامل UI در حالت های مختلفی بر روی انواع سیستم ها وجود دارد. از سایت گرفته تا نرم افزار، سیستم عامل، موبایل و … همگی به نوعی دارای رابط کاربری هستند.
                                به طور کلی به رابط میان کاربر و یک سیستم رابط کاربری گفته می شود.
                            </p>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>