<div class="elegant-table">
    <div class="elegant-table-cell">
        <div class="container">
            <!-- Hero Content -->
            <div class="hero-content">
                <h5>سلام</h5>
                <h1>
                    <span>من</span> <br>
                    محمد <br>
                    بن سعيد هستم <br>
                </h1>
                <p>برنامه نویس و طراح وب</p>
                @*<a href="index.html" class="elegant-btn">مشاهده پروفایل</a>
                    <a href="index.html" class="elegant-btn">دانلود پروفایل</a>*@
            </div>
            <!-- Social Area Start -->
            <div class="social-area">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>
