<section class="section-padding" id="aboutSectionID">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section-header">
                    <h2 class="section-title">درباره من</h2>
                    <p>
                        علاقه و تخصص من برنامه نویسی هست و سعی می‌کنم حداقل توی تخصص خودم به روز باشم. توی زندگی و کار یه سری قوانین برای خودم دارم که سعی می‌کنم همیشه بهشون عمل کنم.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="about-single-item">
                    <div class="skill-area">
                        @*<h3 class="section-title">مهارت های نرم افزاری</h3>*@
                        <br /><br /><br />
                        <div class="progress-wraper">
                            <div class="single-progress-bar">
                                <h5 class="progress-title">CSS & Bootstrap</h5>
                                <div class="progress">
                                    <div class="progress-bar wow slideInRight" data-wow-duration="1.5s"
                                         role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 60%; visibility: visible; animation-duration: 1.5s;">
                                        <span>۶۰٪</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-progress-bar">
                                <h5 class="progress-title">JavaScript</h5>
                                <div class="progress">
                                    <div class="progress-bar wow slideInRight" data-wow-duration="1.5s"
                                         role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 60%; visibility: visible; animation-duration: 1.5s;">
                                        <span>۶۰٪</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-progress-bar">
                                <h5 class="progress-title">JQuery</h5>
                                <div class="progress">
                                    <div class="progress-bar wow slideInRight" data-wow-duration="1.5s"
                                         role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 50%; visibility: visible; animation-duration: 1.5s;">
                                        <span>۵۰٪</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-progress-bar">
                                <h5 class="progress-title">Matlab</h5>
                                <div class="progress">
                                    <div class="progress-bar wow slideInRight" data-wow-duration="1.5s"
                                         role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 40%; visibility: visible; animation-duration: 1.5s;">
                                        <span>۴۰٪</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-progress-bar">
                                <h5 class="progress-title">SQL Server</h5>
                                <div class="progress">
                                    <div class="progress-bar wow slideInRight" data-wow-duration="1.5s"
                                         role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 90%; visibility: visible; animation-duration: 1.5s;">
                                        <span>۹۰٪</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-progress-bar">
                                <h5 class="progress-title">T-SQL & PL-SQL(Oracle)</h5>
                                <div class="progress">
                                    <div class="progress-bar wow slideInRight" data-wow-duration="1.5s"
                                         role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 80%; visibility: visible; animation-duration: 1.5s;">
                                        <span>۸۰٪</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="about-single-item">
                    <div class="skill-area">
                        <h3 class="section-title">مهارت های برنامه نویسی</h3>
                        <div class="progress-wraper">
                            <div class="single-progress-bar">
                                <h5 class="progress-title">#C</h5>
                                <div class="progress">
                                    <div class="progress-bar wow slideInRight" data-wow-duration="1.5s"
                                         role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 90%; visibility: visible; animation-duration: 1.5s;">
                                        <span>۹۰٪</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-progress-bar">
                                <h5 class="progress-title">ASP.Net MVC</h5>
                                <div class="progress">
                                    <div class="progress-bar wow slideInRight" data-wow-duration="1.5s"
                                         role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 80%; visibility: visible; animation-duration: 1.5s;">
                                        <span>۸۰٪</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-progress-bar">
                                <h5 class="progress-title">VisualBasic.net</h5>
                                <div class="progress">
                                    <div class="progress-bar wow slideInRight" data-wow-duration="1.5s"
                                         role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 75%; visibility: visible; animation-duration: 1.5s;">
                                        <span>۷۵٪</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-progress-bar">
                                <h5 class="progress-title">++C</h5>
                                <div class="progress">
                                    <div class="progress-bar wow slideInRight" data-wow-duration="1.5s"
                                         role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 70%; visibility: visible; animation-duration: 1.5s;">
                                        <span>۷۰٪</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-progress-bar">
                                <h5 class="progress-title">Python</h5>
                                <div class="progress">
                                    <div class="progress-bar wow slideInRight" data-wow-duration="1.5s"
                                         role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 45%; visibility: visible; animation-duration: 1.5s;">
                                        <span>۴۵٪</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-progress-bar">
                                <h5 class="progress-title">HTML</h5>
                                <div class="progress">
                                    <div class="progress-bar wow slideInRight" data-wow-duration="1.5s"
                                         role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 80%; visibility: visible; animation-duration: 1.5s;">
                                        <span>۸۰٪</span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4  col-sm-4">
                <div class="about-single-item">
                    <h3 class="section-title">اطلاعات شخصی</h3>
                    <ul class="personal-info">
                        <li><span>نام</span>محمد بن سعيد</li>
                        @*<li><span>متولد</span>1366 - ارديبهشت</li>*@
                        <li><span>تحصيلات</span>كارشناسی ارشد مهندسی نرم افزار</li>
                        <li><span>آدرس</span>بندرماهشهر - خوزستان</li>
                        <li><span>ایمیل</span><br />bensaeed.mohammad@gmail.com</li>
                        @*<li><span>تلفن</span>۰۷۱۳ ۸۳۰ ۰۰۰۰</li>
                                <li><span>همراه</span>۰۹۱۷ ۱۲۳ ۰۰ ۰۰</li>
                            <li><span>وضعیت</span>شاغل در واحد فناوری اطلاعات - نرم افزار - صنايع پتروشيمی</li>*@
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>