<div class="section-padding" id="counter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!-- Counter Single -->
                <div class="counter-box">
                    <div class="counter-icons">
                        <i class="fas fa-users fa-lg"></i>
                        <p>رضایت مشتری</p>
                    </div>
                    <span class="counter-item">459</span>
                </div>
            </div>
            <div class="col-sm-3">
                <!-- Counter Single -->
                <div class="counter-box">
                    <div class="counter-icons">
                        <i class="far fa-handshake fa-lg"></i>
                        <p>پروژه</p>
                    </div>
                    <span class="counter-item">128</span>
                </div>
            </div>
            <div class="col-sm-3">
                <!-- Counter Single -->
                <div class="counter-box">
                    <div class="counter-icons">
                        <i class="far fa-life-ring fa-lg"></i>
                        <p>پشتیبانی</p>
                    </div>
                    <span class="counter-item">311</span>
                </div>
            </div>
            <div class="col-sm-3">
                <!-- Counter Single -->
                <div class="counter-box">
                    <div class="counter-icons">
                        <i class="far fa-newspaper fa-lg"></i>
                        <p>مقاله</p>
                    </div>
                    <span class="counter-item">642</span>
                </div>
            </div>
        </div>
    </div>
</div>