<div class="section-padding" id="brandingSectionID">
       <div class="container">
           <div class="row">
               <div class="col-md-12">

                   <div class="brand-slides owl-carousel">
                       <div class="brand-single-item">
                           <p>
                               <img src="image/brand/audiojungle.png" alt="Brand Logo">
                               <span>همکار ما</span>
                           </p>
                       </div>
                       <div class="brand-single-item">
                           <p>
                               <img src="image/brand/codecanyon.png" alt="Brand Logo">
                               <span>همکار ما</span>
                           </p>
                       </div>
                       <div class="brand-single-item">
                           <p>
                               <img src="image/brand/envato.png" alt="Brand Logo">
                               <span>همکار ما</span>
                           </p>
                       </div>
                       <div class="brand-single-item">
                           <p>
                               <img src="image/brand/photodune.png" alt="Brand Logo">
                               <span>همکار ما</span>
                           </p>
                       </div>
                       <div class="brand-single-item">
                           <p>
                               <img src="image/brand/themeforest.png" alt="Brand Logo">
                               <span>همکار ما</span>
                           </p>
                       </div>
                       <div class="brand-single-item">
                           <p>
                               <img src="image/brand/videohive.png" alt="Brand Logo">
                               <span>همکار ما</span>
                           </p>
                       </div>
                       <div class="brand-single-item">
                           <p>
                               <img src="image/brand/audiojungle.png" alt="Brand Logo">
                               <span>همکار ما</span>
                           </p>
                       </div>
                       <div class="brand-single-item">
                           <p>
                               <img src="image/brand/codecanyon.png" alt="Brand Logo">
                               <span>همکار ما</span>
                           </p>
                       </div>
                       <div class="brand-single-item">
                           <p>
                               <img src="image/brand/photodune.png" alt="Brand Logo">
                               <span>همکار ما</span>
                           </p>
                       </div>
                       <div class="brand-single-item">
                           <p>
                               <img src="image/brand/envato.png" alt="Brand Logo">
                               <span>همکار ما</span>
                           </p>
                       </div>
                       <div class="brand-single-item">
                           <p>
                               <img src="image/brand/videohive.png" alt="Brand Logo">
                               <span>همکار ما</span>
                           </p>
                       </div>
                       <div class="brand-single-item">
                           <p>
                               <img src="image/brand/themeforest.png" alt="Brand Logo">
                               <span>همکار ما</span>
                           </p>
                       </div>
                       <div class="brand-single-item">
                           <p>
                               <img src="image/brand/photodune.png" alt="Brand Logo">
                               <span>همکار ما</span>
                           </p>
                       </div>
                       <div class="brand-single-item">
                           <p>
                               <img src="image/brand/codecanyon.png" alt="Brand Logo">
                               <span>همکار ما</span>
                           </p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
