<section class="section-padding" id="contact">
    <div class="container">
        <div class="row">
            <br />
            <div class="col-md-3">
                <div class="contact-us text-center">

                </div>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3">
                <div class="contact-us text-center">
                    <a href="@Url.Action("Contact_US","Home")"> <h4 style="margin-bottom: 30px">ارتباط با من</h4></a>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-6">
                <div class="contact-us text-center">
                    <h2 class="section-title" style="margin-bottom: 30px">با من در تماس باشید</h2>
                    <a href="mailto:bensaeed.mohammad@gmail.com">bensaeed.mohammad@gmail.com</a> <br>
                    <a href="tel:+989166534801" style="direction: ltr">09166534801</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-us text-center">
                    <h2 class="section-title" style="margin-bottom: 30px">با من در تماس باشید</h2>
                    <a href="mailto:bensaeed.mohammad@gmail.com">bensaeed.mohammad@gmail.com</a> <br>
                    <a href="tel:+989166534801" style="direction: ltr">09166534801</a>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="social-area">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/bensaeed.mohammad"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>