<section class="section-padding" id="testimonialSectionID">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-header">
                    <h2 class="section-title">دیدگاه همكاران</h2>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 ">
                <div class="testimonial-slides owl-carousel">
                    <div class="testimonial-single-item text-center">
                        <img src="image/testimonial/1.jpg" alt="testimonial" class="client-img">
                        <p>
                            زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                            اساسا مورد استفاده قرار گیرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                            راهکارها و شرایط سخت تایپ به پایان رسد.
                        </p>
                        <h5>مهندس حسين دانشفر<span>برنامه نویس</span></h5>
                    </div>
                    <div class="testimonial-single-item text-center">
                        <img src="image/testimonial/2.jpg" alt="testimonial" class="client-img">
                        <p>
                            زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                            اساسا مورد استفاده قرار گیرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                            راهکارها و شرایط سخت تایپ به پایان رسد.
                        </p>
                        <h5>مهندس نوروزپور<span>طراح</span></h5>
                    </div>
                    <div class="testimonial-single-item text-center">
                        <img src="image/testimonial/3.jpg" alt="testimonial" class="client-img">
                        <p>
                            زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                            اساسا مورد استفاده قرار گیرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                            راهکارها و شرایط سخت تایپ به پایان رسد.
                        </p>
                        <h5>مهندس علی راشدی<span>گرافیست</span></h5>
                    </div>
                    <div class="testimonial-single-item text-center">
                        <img src="image/testimonial/2.jpg" alt="testimonial" class="client-img">
                        <p>
                            زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                            اساسا مورد استفاده قرار گیرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                            راهکارها و شرایط سخت تایپ به پایان رسد.
                        </p>
                        <h5> مایک جانسون<span>طراح</span></h5>
                    </div>
                </div>
                <div class="owl-dots">
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</section>