<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="copyright">
                    ۱۳۹۸
                    &copy;
                    تمام حقوق محفوظ می باشد
                    <a href="http://www.mBensaeed.ir" target="_blank">محمد بن سعيد</a>
                </div>
            </div>
        </div>
    </div>
</footer>