<section class="section-padding" id="experiences">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-header">
                    <h2 class="section-title">تجربیات</h2>
                    <p>
                        از سال 1383 برنامه نويسی رو شروع كردم ، ابتدا با تمرين های كلاسی ، پروژه های دانشجويی و پروژه های آزاد كار برنامه نويسی می كردم
                        و در حاضر در بعنوان برنامه نويس در صنايع پتروشيمی بطور تخصصی تر مشغول به فعاليت هستم.
                    </p>
                </div>
            </div>
        </div>
        <!-- Experiences Slides -->
        <div class="experiences-sllides owl-carousel">
            @*<div class="experiences-single-box">
                    <h3>۱۳۹۵ - ۱۳۹۷</h3>
                    <h5>نقطه خلاقیت<span>طراح ارشد</span></h5>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                        و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                        کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </div>*@
            <div class="experiences-single-box">
                <h3>1.چرا برنامه‌نویسی ؟</h3>
                <h5>نقطه شروع</h5>
                <p>
                    ما هم اکنون در عصر اطلاعات زندگی می‌کنیم و مهم‌ترین مؤلفه و ابزار این عصر، کامپیوترها هستند؛ کامپیوترهایی که اساساً بدون آن‌ها، این عصر وجود نمی‌داشت و برای توسعه فناوری در این عصر نیز، مهم‌ترین مسیر از دل دنیای کامپیوتر می‌گذرد. به خصوص که بررسی‌ها نشان می‌دهند با افزایش نفوذ مهندسی نرم‌افزار در حوزه‌های مختلف کسب و کار، سرعت افزایش موقعیت‌های شغلی برنامه‌نویسی در حال پیشی گرفتن از سرعت رشد تعداد برنامه‌نویسان تعلیم دیده در دانشگاه‌ها و مؤسسات فنی است.
                </p>
            </div>
            <div class="experiences-single-box">
                <h3>پیش‌نیازهای یادگیری برنامه‌نویسی</h3>
                <h5>نيازمندی ها</h5>
                <p>
                    آموزش برنامه‌نویسی بازه سنی خاصی ندارد؛ یعنی اگر خیلی جوان هستید و یا فکر می‌کنید پا به سن گذاشته‌اید، خودتان را ناتوان از یادگیری برنامه‌نویسی فرض نکنید. برنامه‌نویسی را می‌توان تقریبا در هر سنی یاد گرفت. فقط کافی است به اندازه کافی علاقه و پشتکار داشته باشید.                        <br />
                    <br />
                    عوامل مؤثر در یادگیری برنامه‌نویسی
                    <ul class="text-right">
                        <li>
                            <h6>منطق</h6>
                        </li>
                        <li>
                            <h6>درک صحیح مفاهیم ریاضی</h6>
                        </li>
                        <li>
                            <h6>زبان انگلیسی</h6>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="experiences-single-box">
                <h3>از کجا شروع کنیم؟</h3>
                <h5>مقدمه</h5>
                <p>
                    برای یادگیری برنامه‌نویسی، باید قبل از هر چیزی، یک زبان برنامه‌نویسی انتخاب کنید و آموزش کار با آن را، شروع کنید. اما پیش از آن، لازم است مقدماتی را از منطق، ساختار زبان‌های برنامه‌نویسی، فلوچارت و الگوریتم یاد بگیرید. این موارد، مستقل از هر زبان برنامه‌نویسی هستند و اغلب مشکلی که وجود دارد، این است که افراد بدون دانش کافی در مورد این مباحث، اقدام به یادگیری یک زبان برنامه‌نویسی می‌کنند و اتفاقا همه اجزای زبان را هم به خوبی می‌آموزند. اما زمانی که قرار است مستقلا کاری را انجام دهند، به مشکل بر می‌خورند.
                </p>
            </div>
            <div class="experiences-single-box">
                <h3>کدام زبان برنامه‌نویسی بهتر است؟</h3>
                <h5>انتخاب</h5>
                <p>
                    اساسا هیچ زبان برنامه‌نویسی بهتر از دیگری نیست. اغلب زبان‌های برنامه‌نویسی، برای مقصد خاصی طراحی شده‌اند و آن کار را، از برخی ابعاد، بهتر انجام می‌دهند. اما هیچ زبان برنامه‌نویسی وجود ندارد که به صورت مطلق، بهتر از سایرین باشد. شاید بهتر باشد باشد سئوال فوق، به این صورت پرسیده شود: «بهترین زبان برنامه‌نویسی برای شروع چیست؟» و یا این که «بهترین زبان برنامه‌نویسی برای فلان منظور خاص کدام است؟». در واقع، اگر می‌خواهید یک برنامه‌نویس حرفه‌ای باشید، احتمالا مجبور خواهید شد که چند زبان برنامه‌نویسی را فرا بگیرید.
                </p>
            </div>
            <div class="experiences-single-box">
                <h3>چطور ادامه دهیم؟</h3>
                <h5>نقطه عمل</h5>
                <p>
                    شما می‌توانید یادگیری هر زبان برنامه‌نویسی دیگری را، که متناسب با نیازها و علایق شماست، در برنامه خود قرار دهید. هر چند، مهارت برنامه‌نویسی، اساسا ربطی به خود زبان برنامه‌نویسی ندارد و شما بعد از یادگیری یک یا دو زبان برنامه‌نویسی، خواهید دید که یادگیری زبان‌های برنامه‌نویسی جدید، چندان هم سخت نیست و حتی در عرض چند روز یا ساعت، می‌توانید یک زبان جدید به زبان‌های برنامه‌نویسی که بلد هستید، اضافه نمایید.
                </p>
            </div>
            <div class="experiences-single-box">
                <h3>چند توصیه مهم</h3>
                <h5>نقطه خلاقیت</h5>
                <p>
                    <ul class="text-right">
                        <li>
                            <h6>علمی باشید</h6>
                        </li>
                        <li>
                            <h6>منظم و خوش سلیقه باشید</h6>
                        </li>
                        <li>
                            <h6>برای کدهای خود توضیح بنویسید</h6>
                        </li>
                        <li>
                            <h6>تمرین کنید؛ مسأله حل کنید</h6>
                        </li>
                    </ul>
                </p>
            </div>

            <div class="experiences-single-box">
                <h3>مهم توصيه به شما</h3>
                <h5>نقطه اوج</h5>
                <p>
                    هیچ گاه از یاد گرفتن خسته نشوید
                    <br />
                    برنامه نويسی يعنی پشتكار
                    و
                    بهترين اتفاق ها به سراغ كسانی ميرود كه تلاش ميكنند و هيچگاه تسليم نميشوند
                </p>
            </div>

        </div>
    </div>
</section>